@import url(./fonts.css);

:root {
    --bg: #fbf1c7;
    --fg: #3c3638;

    --dark-fg: #ebdbb2;
    --dark-bg: #282828;
    
    --red: #cc241d;
    --blue: #458588;
    --grey: #928374;

    
}

html {
    color: var(--fg);
    background: var(--bg);
    font-family: "Lato", sans-serif;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 80em;
}

a {
    border-bottom: 3px solid var(--red);
    color: var(--fg);
    text-decoration: none;
}

a:hover {
    background: var(--blue);
}

a:active {
    color: var(--fg);
}

li {
    padding-bottom: 5px;
}

body {
    padding: 1rem;
}

footer {
    display: flex;
    gap: 1rem;
    padding-top: 2px;
    border-top: 2px solid var(--grey);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-bottom: 3px solid var(--fg);
    padding-bottom: 10px;
    margin: 1em 0 2em 0;
    height: 1rem;
}

/* Nav Styles */

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
    text-transform: uppercase;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5rem;
        display: block;
        position: static;
        width: auto;
    }

    .nav-links a {
        display: inline-block;
        padding: 0px 20px;
    }

    .hamburger {
        display: none;
    }
}

/* Hamburger styles */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 2px;
    margin-bottom: 5px;
    background-color: var(--grey);
}

.hidden {
    display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color: var(--dark-fg);
    background-color: var(--dark-bg);
  }

  a {
    color: var(--dark-fg);
  }
}
