---
import '../styles/style.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const title = "About Me"

const identity = {
	name: "Tilman Andre Mix",
	country: "Germany",
	occupation: "Student",
	hobbies: ["Programming", "Reading"],
};

const skills = ["Rust", "Astro"]

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "#cc241d";
const skillFontWeight = "bold";
---
<html lang="en">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{ title } - My Astro Page</title>
    <style define:vars={{ skillColor, skillFontWeight }}>
      h1 {
        color: #458588;
        font-size: 4rem;
      }

      .skill {
        color: var(--skillColor);
        font-weight: var(--skillFontWeight)
      }
    </style>
  </head>
  <body>
    <Navigation />
    <h1>{ title }</h1>
    <h2>... and my new Astro site!</h2>

    <p>
        Moin,

        my name is { identity.name } and I'm from { identity.country }.
        I'm a { identity.occupation } with the hobbies { identity.hobbies[0] } and { identity.hobbies[1] }.
    </p>

    <div>
        <h2>Skills</h2>
        <p>My Skills are: </p>

        <ul>
            { skills.map((skill) => <li class="skill">{ skill }</li>) }
        </ul>

    </div>

    { happy && <p>I Like to learn Astro</p>}
    { finished && <p> I finished thier tutorial</p>}
    { goal === 3 && <p>I would like to finish their tutorial in the next { goal } days</p>}
    <Footer />
  </body>
</html>
