---
import '../styles/style.css';
const platform = "codeberg";
const username = "tilmanmixyz";
---

<footer>Learn more about my projects at <a href={`https://${ platform }.org/${ username }`} > {platform} </a></footer>