---
import "../styles/style.css";
import Social from "./Social.astro";
---

<html>
    <head>
        <style>
            hr {
                margin-top: 3rem;
            }

            footer {
                display: flex;
                gap: 1rem;
            }
        </style>
    </head>
    <body>
        <hr />
        <footer>
            <Social platform="codeberg" username="tilmanmixyz" tld="org" />
            <Social platform="github" username="tilmanmixyz" tld="com" />
        </footer>
    </body>
</html>
