---
import "../styles/style.css";
import Social from "./Social.astro";
---

<html>
    <head>
    </head>
    <body>
        <footer>
            <Social platform="codeberg" username="tilmanmixyz" tld="org" />
            <Social platform="github" username="tilmanmixyz" tld="com" />
            <Social platform="gitlab" username="tilmanmixyz" tld="com" />
        </footer>
    </body>
</html>
