---
const { title } = Astro.props;
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
import '../styles/style.css';
---

<html>
    <head>
    </head>
    <body>
        <div class="header">
            <div class="left">
                <a href="/"> My Astro Page</a> - {title}
            </div>
            <div class="right">
                <nav>
                    <Hamburger />
                    <Navigation />
                </nav>
            </div>
        </div>
    </body>
</html>
