---
const  { frontmatter } = Astro.props;

import '../styles/style.css';
import Header from '../components/Header.astro';
import BlogHeader from '../components/BlogHeader.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ frontmatter.title }</title>
	</head>
	<body>
		<Header title={ frontmatter.title } />
    <BlogHeader title= { frontmatter.title } date={ frontmatter.pubDate.slice(0, 10)} author={ frontmatter.author } />

    <slot />
		<Footer />
		<script>
			import '../scripts/menu.js';
		</script>
	</body>
</html>
